* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: rgb(12,50,90);
    height: 550px;
    padding-left: 80px;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

div.nav_left, div.nav_right {
    height: 80px;
    text-transform: uppercase;
}

/* istruzioni per stilare contenitore nav_left */

div.nav_left {
    width: 60%;
    float: left;
    line-height: 80px;
}

.nav_left ul li a {
    color: white;
    font-size: 70%;
    text-decoration: none;
}

.nav_left ul {
    float: right;
    margin-right: 160px;
}

.nav_left li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

/* istruzioni per stilare contenitore nav_right */

div.nav_right {
    width: 40%;
    float: left;
    line-height: 80px;
}

.nav_right ul li a {
    color: white;
    text-decoration: none;
    font-size: 70%;
}

.nav_right li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

li a.blue_button {
    margin: 0 15px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid white;
}

li a.green_button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgb(124,187,2);
    background-color: rgb(124,187,2);
}

/* istruzioni per stilare contenitore jumbo */

.jumbo {
    position: relative;
    height: 470px;
    width: 100%;
    float: left;
}

.half_jumbo {
    width: 35%;
    height: 100%;
}

.half_jumbo>h1 {
    color: white;
    font-size: 250%;
    margin: 35% 0 10%;
}

.old_man {
    max-height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.half_jumbo>a.green_button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgb(124,187,2);
    background-color: rgb(124,187,2);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* istruzioni per stilare contenitore claim */

div.claim {
    background-color: rgb(211,211,211);
    text-align: center;
}

div.claim h2 {
    padding: 30px 0 10px;
}

div.claim p {
    color: rgb(146,146,146);
    padding-bottom: 30px;
}

/* istruzioni per stilare contenitore offer */

.all_offers {
    width: 100%;
    padding: 0 10%;
}

.all_offers:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
}

.offer {
    width: 33.3333333%;
    padding: 0 calc(10% / 6);
    float: left;
    text-align: center;
}

.offer img {
    max-height: 200px;
    margin: 20px 0;
}

img#bad_one {
    margin-bottom: 35px;
}

.offer h2 {
    font-size: 175%;
    color: rgb(124,187,2);
}

.offer hr {
    margin: 20px 40%;
    border-color: rgb(146,146,146);
}

.offer p {
    color: rgb(146,146,146);
    line-height: 1.5;
    font-weight: bold;
    padding: 0 5%;
}

/* istruzioni per stilare contenitore discover */

.discover {
    padding: 30px 10%;
}

.discover:after {
content: "";
display: table;
clear: both;
}

.discover_left {
    width: 50%;
    padding: 0 10%;
    float: left;
}

figure img {
    max-width: 100%;
}

.discover_right {
    width: 50%;
    padding: 0 10%;
    float: right;
}

.discover_right h2 {
    font-size: 175%;
    font-weight: bold;
}

.discover_right p {
    color: rgb(146,146,146);
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: bold;
}

.discover_right a {
    font-size: 80%;
    color: rgb(85,134,188);
}

/* istruzioni per stilare "footer" */
